@{
    ViewData["Title"] = "Home Page";
}

<!-- Home -->
<section id="home">
  <div class="container">
    <h5>Featured</h5>
  
      <h1>Bast Prices This Season</h1>
      <p>Eshop offers the best products for the most affordable prices</p>
      
      <button>Shop</button>
    
  </div>
</section>




<!-- Featured -->
<section id="featured" class="my-5 pb-5">
  <div class="container text-center mt-5 py-5">
    <h3>This week special</h3>
    <hr class="mx-auto">
    <p>This our special menu for this week</p>
  </div>
  <div class="row mx-auto container-fluid">
     <div class="product text-center col-lg-3 col-md-4 col-sm-12">
      <img class="img-fluid mb-3" src="imgs/burger.jpg"/>
   
      <h5 class="p-name">Burger</h5>
      <h4 class="p-price">$10</h4>
      <div><button class="buy-btn">Buy Now</button></div>
     </div>
  
    <div class="product text-center col-lg-3 col-md-4 col-sm-12">
     <img class="img-fluid mb-3" src="imgs/burger.jpg"/>
  
     <h5 class="p-name">Burger</h5>
     <h4 class="p-price">$10</h4>
     <div><button class="buy-btn">Buy Now</button></div>
    </div>

    <div class="product text-center col-lg-3 col-md-4 col-sm-12">
     <img class="img-fluid mb-3" src="imgs/burger.jpg"/>
  
     <h5 class="p-name">Burger</h5>
     <h4 class="p-price">$10</h4>
     <div><button class="buy-btn">Buy Now</button></div>
    </div>
 
    <div class="product text-center col-lg-3 col-md-4 col-sm-12">
     <img class="img-fluid mb-3" src="imgs/burger.jpg"/>
  
     <h5 class="p-name">Burger</h5>
     <h4 class="p-price">$10</h4>
     <div><button class="buy-btn">Buy Now</button></div>
    </div>
   
 </div>
</section>
