@model data_and_repo_pattern.ViewModel.AdminDataViewModel

<div class="stat">
                        <h3>Total Menu Items</h3>
                        <p id="total-menu-items">@Model.TotalMenu</p>
                    </div>
                    <div class="stat">
                        <h3>Total Pending Orders</h3>
                        <p id="total-pending-orders">@Model.PendingOrder</p>
                    </div>
                    <div class="stat">
                        <h3>Total Delivered Orders</h3>
                        <p id="total-delivered-orders">@Model.DeliveredOrder</p>
                    </div>
                    <div class="stat">
                        <h3>Total Users</h3>
                        <p id="total-users">@Model.TotalUsers</p>
                    </div>