@model data_and_repo_pattern.database.tbUser;

 <p>Name <span>@Model.Username</span></p>
<p>Email <span>@Model.Email</span></p>
<p><a href="#orders" id="order-btn">Your orders</a></p>
<p><a href="login.html" id="logout-btn" onclick="logout()">Logout</a></p>