@model data_and_repo_pattern.database.tbMenu

    <div class="form-group">
        <label for="product-name">Product Name:</label>
        <input type="text" id="product-name" name="Name" required asp-for="Name" value="@Model.Name">
    </div>
    <div class="form-group">
        <label for="product-description">Description:</label>
        <textarea id="product-description" name="Description" value="@Model.Description" required asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label for="product-price">Price:</label>
        <input type="number" id="product-price" name="price" step="0.01" required value="@Model.Price" asp-for="Price">
    </div>
    <div class="form-group">
        <label for="product-image">Image:</label>
        <input type="file" id="product-image" name="image" accept="image/*" asp-for="Image" onchange="imageUploaded()">
    </div>
    <button onclick="EditData()">Edit Product</button>
