@model data_and_repo_pattern.database.tbMenu;

@{
    ViewBag.Title = "Add Menu";
}

<div id="admin-panel">
        <div id="sidebar">
            <h2>Admin Panel</h2>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/order">Order</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </div>

        <div id="content">
            <div id="navbar">
                <h2>Add New Product</h2>
             
            </div>

            <form id="new-product-form">
                <div class="form-group">
                    <label for="product-name">Product Name:</label>
                    <input type="text" id="product-name" name="Name" required asp-for="Name">
                </div>
                <div class="form-group">
                    <label for="product-description">Description:</label>
                    <textarea id="product-description" name="Description" required asp-for="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="product-price">Price:</label>
                    <input type="number" id="product-price" name="price" step="0.01" required asp-for="Price">
                </div>
                <div class="form-group">
                    <label for="product-image">Image:</label>
                    <input type="file" id="product-image" name="image" accept="image/*" required asp-for="Image" onchange="imageUploaded()">
                </div>
                <button type="submit">Add Product</button>
            </form>
        </div>
    </div>

@section scripts{
    <script>
        $(function(){
            Auth();
        })
        function Auth(){
           const token = localStorage.getItem("token");
           if(token == null){
               location.href = "/login";
           }
       }
        let image = "";
        $('#new-product-form').submit(function (event){
            let name = document.getElementById("product-name").value;
            let description = document.getElementById("product-description").value;
            let price = document.getElementById("product-price").value;
            
            event.preventDefault();
            $.ajax({
                cache: false,
                url: '@Url.Action("CreateMenu", "Add")',
                type: "POST",
                data: {name, description, price, image},
                success: function(data){
                   alert("new menu added");
                   location.href = "/menu";
                }
            })
        })

        function imageUploaded() {
            let file = document.querySelector(
                'input[type=file]')['files'][0];
 
            let reader = new FileReader();
            console.log("next");
 
            reader.onload = function () {
                image = reader.result;
 
                imageBase64Stringsep = image;
 
                // alert(imageBase64Stringsep);
            }
            reader.readAsDataURL(file);
        }
    </script>
}